@use 'sass:string';
$str: 'This is my random string';
li {
  list-style-type: none;
  &::before {
    margin-right: 20px;
  }
  &:nth-child(1) {
    &::before {
      content: 'Jay    ';
    }
  }
  &:nth-child(2) {
    &::before {
      content: quote(some);
    }
  }
  &:nth-child(3) {
    &::before {
      content: unquote('thing');
    }
  }
  &:nth-child(4) {
    &::before {
      @debug string.index($str, 'my');
      content: string.quote(string.index($str, 'my') + ' ');
    }
  }

  &:nth-child(5) {
    &::before {
      content: string.insert($str, 'my ', 6);
    }
  }
  &:nth-child(6) {
    &::before {
      content: string.length($str) + '';
    }
  }
  &:nth-child(7) {
    &::before {
      content: string.slice($str, 6, -1);
    }
  }
  &:nth-child(8) {
    &::before {
      content: string.to-upper-case($str);
    }
  }
  &:nth-child(9) {
    &::before {
      content: quote(string.unique-id());
    }
  }
}
