@use 'sass:color';

@for $i from 1 through 20 {
  .w-#{$i*5}p {
    width: $i * 5%;
  }
}
@for $i from 1 through 20 {
  .h-#{$i*5}p {
    height: $i * 5%;
  }
}

.box {
  $width: 1500px;
  width: $width;
  height: 100px;

  @if ($width<500px) {
    background-color: red;
  } @else if($width>500px) {
    background-color: yellow;
  } @else if ($width>1000px) {
    background-color: green;
  } @else {
    background-color: black;
  }
}

.inner-box {
  height: 50px;
  background-color: tomato;
}

$colors: red, brown, pink, yellow, blue;

@each $color in $colors {
  .#{$color}-light {
    background-color: color.adjust($color, $whiteness: 50%);
  }
}

@debug nth($colors, 3);
