@use '../utils/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.car-card {
  max-width: 450px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  background-color: #649afe;
  background-image: url(../images/card-1.png);
  min-height: 250px;
  background-position: bottom;
  position: relative;
  color: whitesmoke;
  p {
    width: 60%;
    font-size: 12px;
  }
  a {
    display: block;
    width: fit-content;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    // background-color: colors.$primary-color;
    background-color: #5558ea;
    font-size: 14px;
    border-radius: 4px;
  }
  img {
    width: 250px;
    position: absolute;
    bottom: 20px;
    left: 100px;
  }
}

.mini-card {
  max-width: 280px;
  border-radius: 8px;
  background-color: #fefefe;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .top-bar {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    .title {
      h3 {
        color: colors.$primary-text-color;
      }
      h4 {
        color: colors.$secondary-text-color;
      }
    }
    i {
      color: colors.$like-color;
    }
  }
  img {
    margin-top: 30px;
    width: 200px;
  }
  .info {
    margin-top: 30px;
    color: colors.$secondary-text-color;
    display: flex;
    justify-content: space-evenly;
    span {
      i {
        margin-right: 2px;
      }
    }
  }
  .cta {
    margin-top: 10px;
    text-align: center;
    span {
      font-size: 20px;
      font-weight: 600;
      span {
        color: colors.$secondary-text-color;
        font-size: 14px;
      }
    }
    a {
      width: fit-content;
      margin-top: 20px;
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      margin-left: 20px;
      background-color: #5558ea;
      font-size: 14px;
      border-radius: 4px;
    }
  }
}

.selector {
  width: fit-content;
  padding: 15px;
  background-color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  .options {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    select {
      border: none;
      outline: none;
      margin-top: 5px;
      color: colors.$secondary-text-color;
      option {
        &:hover {
          color: black;
          background-color: red;
        }
      }
    }
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  .logo {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$primary-color;
  }
  .search {
    margin-left: 50px;
    width: 30%;
    margin-right: auto;
    height: fit-content;
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 24px;
    display: flex;
    align-items: center;
    color: colors.$secondary-text-color;
    input {
      font-size: 18px;
      padding: 5px;
      flex-grow: 1;
      border: none;
      outline: none;
    }
  }
  .profile-options {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: colors.$primary-text-color;
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  .footer-top {
    display: flex;
    .site-info {
      max-width: 350px;
      h2 {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: colors.$primary-color;
      }
    }
    .quick-links {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      .ql {
        h3 {
          color: colors.$primary-text-color;
        }
        ul {
          li {
            margin-top: 15px;
            list-style: none;
            a {
              text-decoration: none;
              color: colors.$secondary-text-color;
            }
          }
        }
      }
    }
  }
  hr {
    border: 1px solid lightgray;
    margin: 20px 0px;
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: colors.$primary-text-color;
    .policy {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
